/* =========================
   GLOBAL DARK MODE
========================= */

html.dark body {
    background-color: #111827 !important;
    color: #e5e7eb !important;
}

/* CARDS / WHITE BOXES */
html.dark .bg-white {
    background-color: #1f2937 !important;
    color: #e5e7eb !important;
}

/* SIDEBAR */
html.dark aside {
    background-color: #0f172a !important;
}

/* HEADER */
html.dark header {
    background-color: #1f2937 !important;
    color: white !important;
}

/* TEXT COLORS */
html.dark .text-gray-800,
html.dark .text-gray-700 {
    color: #e5e7eb !important;
}

html.dark .text-gray-500 {
    color: #9ca3af !important;
}

/* TABLES */
html.dark table,
html.dark tr,
html.dark td,
html.dark th {
    color: white !important;
}

/* TOAST */
html.dark .toast-message {
    background-color: #1f2937 !important;
    color: white !important;
}