{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <script src="{% static 'js/theme.js' %}"></script>
{% endblock %}


{% block branding %}
<div class="navbar-brand">
    <span style="font-weight: 600; cursor: default; pointer-events: none;">
        📦 Equipment System
    </span>
</div>
{% endblock %}


{% block extra_navbar %}
<li class="nav-item d-flex align-items-center" style="margin-right:10px;">
    <button onclick="toggleTheme()"
        class="btn btn-sm btn-outline-light">
        🌗 Theme
    </button>
</li>
{{ block.super }}
{% endblock %}


{% block footer %}
<div class="text-center py-3">
    <strong>Equipment Borrowing System © 2026</strong>
</div>
{% endblock %}